## WeatherPy 
### Generate 500+ random latitudes and longitudes and use Weathermap.org and API keys to retrieve and graph weather day showing various relationships.

In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from citipy import citipy
from random import uniform
from config import api_key

In [2]:
# Create a df to lat, lon 
column_names = ["City", "Country"]
cities_df = pd.DataFrame(columns=column_names)
cities_df

Empty DataFrame
Columns: [City, Country]
Index: []

## Generate Cites List from Lats and Longs

In [3]:
# Randomly generate a list of 1500 cities. Use 50 to test for duplicates.
for x in range(250):
    lat, lng = np.random.uniform(low=-90.000, high=90.000), np.random.uniform(low=-180.000, high=180.000)
    city = citipy.nearest_city(lat, lng)
    cities_df = cities_df.append({"City": city.city_name,"Country": city.country_code,}, ignore_index=True)
cities_df.head()

      City Country
0  mataura      pf
1   albany      au
2    opuwo      na
3   beloha      mg
4    airai      pw

In [4]:
#Remove duplicate cities
cities_df = cities_df.drop_duplicates(subset='City').reset_index()
cities_df.count()

index      150
City       150
Country    150
dtype: int64

## Perform API Calls

In [5]:
#Create a df to add all the data from the API calls.
column_names = ["City", "Country","Temperature (F)",
                "Latitude","Longitude","Humidity (%)",
                "Cloudiness (%)", "Wind Speed (mph)"]
clean_cities_df = pd.DataFrame(columns=column_names)
clean_cities_df.head()

Empty DataFrame
Columns: [City, Country, Temperature (F), Latitude, Longitude, Humidity (%), Cloudiness (%), Wind Speed (mph)]
Index: []

In [6]:
# Loop through the list of cities and add the data to the df.
url = "http://api.openweathermap.org/data/2.5/weather?"

row_count = 1

print("Beginning Data Retrieval")
for index, row in cities_df.iterrows():
    target_city = row["City"]
    target_url = url + "appid=" + api_key + "&units=IMPERIAL" + "&q=" + target_city.replace(" ","")
    city_data = requests.get(target_url).json()
    if city_data["cod"] == "404":
        print("City not found, skipping...")

    else:
        clean_cities_df.set_value(index, "City", city_data["name"])
        clean_cities_df.set_value(index, "Country", city_data["sys"]["country"])
        clean_cities_df.set_value(index, "Temperature (F)", city_data["main"]["temp"])
        clean_cities_df.set_value(index, "Latitude", city_data["coord"]["lat"])
        clean_cities_df.set_value(index, "Longitude", city_data["coord"]["lon"])
        clean_cities_df.set_value(index, "Humidity (%)", city_data["main"]["humidity"])
        clean_cities_df.set_value(index, "Cloudiness (%)", city_data["clouds"]["all"])
        clean_cities_df.set_value(index, "Wind Speed (mph)", city_data["wind"]["speed"])
        
        print("------------------------")
        print("Proceesing: City # " , row_count, ' | ' , city_data["name"], city_data["sys"]["country"])
        print(target_url)
        row_count += 1

Beginning Data Retrieval
------------------------
Proceesing: City #  1  |  Mathura IN
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=mataura
------------------------
Proceesing: City #  2  |  Albany US
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=albany
------------------------
Proceesing: City #  3  |  Opuwo NA
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=opuwo
------------------------
Proceesing: City #  4  |  Beloha MG
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=beloha
------------------------
Proceesing: City #  5  |  Aura FI
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=airai
------------------------
Proceesing: City #  6  |  Liwale TZ
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=liwale
------------------------
Proceesing: City #  7  |  Busselton AU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=busselton
------------------------
Proceesing: City #  8  |  Jawa JO
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=jawa
------------------------
Proceesing: City #  9  |  Butaritari KI
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=butaritari
------------------------
Proceesing: City #  10  |  Hilo US
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=hilo
------------------------
Proceesing: City #  11  |  Zhaozhou CN
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=zhaozhou
------------------------
Proceesing: City #  12  |  Cherskiy RU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=cherskiy
------------------------
Proceesing: City #  13  |  Saint-Philippe RE
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=saint-philippe
------------------------
Proceesing: City #  14  |  Hobart AU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=hobart
------------------------
Proceesing: City #  15  |  Manaure CO
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=manaure
City not found, skipping...
------------------------
Proceesing: City #  16  |  Tuktoyaktuk CA
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=tuktoyaktuk
------------------------
Proceesing: City #  17  |  Rikitea PF
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=rikitea
------------------------
Proceesing: City #  18  |  Bontang ID
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=bontang
City not found, skipping...
------------------------
Proceesing: City #  19  |  Ushuaia AR
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=ushuaia
------------------------
Proceesing: City #  20  |  Ahipara NZ
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=ahipara
------------------------
Proceesing: City #  21  |  Cidreira BR
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=cidreira
------------------------
Proceesing: City #  22  |  Cape Town ZA
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=capetown
------------------------
Proceesing: City #  23  |  Horta (Angústias) PT
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=illoqqortoormiut
City not found, skipping...
City not found, skipping...
City not found, skipping...
------------------------
Proceesing: City #  24  |  Hithadhoo MV
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=hithadhoo
------------------------
Proceesing: City #  25  |  Boyolangu ID
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=boyolangu
------------------------
Proceesing: City #  26  |  Victoria CA
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=victoria
------------------------
Proceesing: City #  27  |  Ambovombe MG
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=ambovombe
------------------------
Proceesing: City #  28  |  Broome AU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=broome
------------------------
Proceesing: City #  29  |  Hermanus ZA
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=hermanus
City not found, skipping...
------------------------
Proceesing: City #  30  |  Jamestown US
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=jamestown
City not found, skipping...
------------------------
Proceesing: City #  31  |  Bredasdorp ZA
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=bredasdorp
------------------------
Proceesing: City #  32  |  Sokoni TZ
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=sokoni
City not found, skipping...
------------------------
Proceesing: City #  33  |  Khatanga RU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=khatanga
------------------------
Proceesing: City #  34  |  Balclutha NZ
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=kaitangata
City not found, skipping...
City not found, skipping...
------------------------
Proceesing: City #  35  |  Myitkyina MM
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=myitkyina
------------------------
Proceesing: City #  36  |  Amparihy MG
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=taolanaro
------------------------
Proceesing: City #  37  |  Barenburg DE
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=barentsburg
------------------------
Proceesing: City #  38  |  Jaen ES
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=jaen
------------------------
Proceesing: City #  39  |  Cabedelo BR
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=cabedelo
------------------------
Proceesing: City #  40  |  Bluff NZ
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=bluff
------------------------
Proceesing: City #  41  |  Nizhnekamsk RU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=nizhneyansk
------------------------
Proceesing: City #  42  |  Novocheboksarsk RU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=novocheboksarsk
------------------------
Proceesing: City #  43  |  Pangoa PE
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=pangoa
------------------------
Proceesing: City #  44  |  Andradina BR
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=andradina
------------------------
Proceesing: City #  45  |  Carnarvon AU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=carnarvon

------------------------
Proceesing: City #  46  |  Dikson RU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=dikson
------------------------
Proceesing: City #  47  |  Daugavpils LV
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=daugavpils
------------------------
Proceesing: City #  48  |  Zonguldak TR
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=zonguldak
------------------------
Proceesing: City #  49  |  Chuy UY
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=chuy
City not found, skipping...
City not found, skipping...
------------------------
Proceesing: City #  50  |  Healdsburg US
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=healdsburg
------------------------
Proceesing: City #  51  |  Vaini TO
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=vaini
City not found, skipping...
------------------------
Proceesing: City #  52  |  Vaasa FI
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=vaasa
------------------------
Proceesing: City #  53  |  Evensk RU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=evensk
------------------------
Proceesing: City #  54  |  Camacha PT
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=camacha
------------------------
Proceesing: City #  55  |  Barwadih IN
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=barwadih
------------------------
Proceesing: City #  56  |  Saskylakh RU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=saskylakh
City not found, skipping...
City not found, skipping...
City not found, skipping...
------------------------
Proceesing: City #  57  |  Bethel US
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=bethel
City not found, skipping...
City not found, skipping...
------------------------
Proceesing: City #  58  |  Livingston GB
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=livingston
------------------------
Proceesing: City #  59  |  Mandal IN
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=mandal
------------------------
Proceesing: City #  60  |  Bollnas SE
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=bollnas
------------------------
Proceesing: City #  61  |  Gwadar PK
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=gwadar
------------------------
Proceesing: City #  62  |  Soe ID
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=soe
------------------------
Proceesing: City #  63  |  Qinggang CN
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=qinggang
------------------------
Proceesing: City #  64  |  Iqaluit CA
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=iqaluit
------------------------
Proceesing: City #  65  |  Bengkulu ID
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=bengkulu
------------------------
Proceesing: City #  66  |  Velingara SN
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=velingara
City not found, skipping...
City not found, skipping...
City not found, skipping...
------------------------
Proceesing: City #  67  |  Roald NO
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=roald
------------------------
Proceesing: City #  68  |  Leningradskiy RU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=leningradskiy
------------------------
Proceesing: City #  69  |  Atuona PF
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=atuona
------------------------
Proceesing: City #  70  |  Talnakh RU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=talnakh
------------------------
Proceesing: City #  71  |  Marsaxlokk MT
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=marsaxlokk
City not found, skipping...
------------------------
Proceesing: City #  72  |  Tibiri NE
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=tibiri
------------------------
Proceesing: City #  73  |  Najran SA
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=najran
------------------------
Proceesing: City #  74  |  Yellowknife CA
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=yellowknife
City not found, skipping...
------------------------
Proceesing: City #  75  |  Atar MR
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=atar
------------------------
Proceesing: City #  76  |  Alofi NU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=alofi
------------------------
Proceesing: City #  77  |  Toliara MG
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=toliary
------------------------
Proceesing: City #  78  |  Ambon ID
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=ambon
------------------------
Proceesing: City #  79  |  Ilebo CD
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=ilebo
City not found, skipping...
------------------------
Proceesing: City #  80  |  Upernavik GL
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=upernavik
------------------------
Proceesing: City #  81  |  Clyde US
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=clyde
------------------------
Proceesing: City #  82  |  Salalah OM
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=salalah
------------------------
Proceesing: City #  83  |  Lima PE
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=lima
------------------------
Proceesing: City #  84  |  Taltal CL
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=taltal
------------------------
Proceesing: City #  85  |  Gannan CN
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=gannan
------------------------
Proceesing: City #  86  |  Pyt-Yakh RU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=sentyabrskiy
------------------------
Proceesing: City #  87  |  Marquette US
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=marquette
------------------------
Proceesing: City #  88  |  Nishihara JP
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=nishihara
City not found, skipping...
------------------------
Proceesing: City #  89  |  Agadez NE
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=agadez
------------------------
Proceesing: City #  90  |  Nouakchott MR
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=nouakchott

------------------------
Proceesing: City #  91  |  Avarua CK
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=avarua
------------------------
Proceesing: City #  92  |  Sitka US
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=sitka
------------------------
Proceesing: City #  93  |  Mahebourg MU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=mahebourg
City not found, skipping...
------------------------
Proceesing: City #  94  |  Acarau BR
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=acarau
------------------------
Proceesing: City #  95  |  Hukuntsi BW
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=hukuntsi
------------------------
Proceesing: City #  96  |  Atherton GB
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=atherton
------------------------
Proceesing: City #  97  |  Plouzane FR
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=plouzane
------------------------
Proceesing: City #  98  |  Tasiilaq GL
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=tasiilaq
------------------------
Proceesing: City #  99  |  Yakeshi CN
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=yakeshi
------------------------
Proceesing: City #  100  |  Luanda AO
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=luanda
------------------------
Proceesing: City #  101  |  Muros ES
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=muros
City not found, skipping...
------------------------
Proceesing: City #  102  |  Launceston AU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=launceston
------------------------
Proceesing: City #  103  |  Sulangan PH
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=sulangan
City not found, skipping...
------------------------
Proceesing: City #  104  |  Volnovakha UA
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=volnovakha
------------------------
Proceesing: City #  105  |  Sola VU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=sola
------------------------
Proceesing: City #  106  |  Torbay CA
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=torbay
------------------------
Proceesing: City #  107  |  Chernyshevskiy RU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=chernyshevskiy
------------------------
Proceesing: City #  108  |  Sibolga ID
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=sibolga
City not found, skipping...
------------------------
Proceesing: City #  109  |  Rawson AR
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=rawson
------------------------
Proceesing: City #  110  |  Qaanaaq GL
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=qaanaaq
------------------------
Proceesing: City #  111  |  Esperance AU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=esperance
------------------------
Proceesing: City #  112  |  Shimoda JP
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=shimoda
------------------------
Proceesing: City #  113  |  Lagoa PT
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=lagoa
------------------------
Proceesing: City #  114  |  Khash IR
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=khash
------------------------
Proceesing: City #  115  |  Kenai US
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=kenai
City not found, skipping...
City not found, skipping...
------------------------
Proceesing: City #  116  |  Kologriv RU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=kologriv
------------------------
Proceesing: City #  117  |  Bongouanou CI
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=bongouanou
------------------------
Proceesing: City #  118  |  Namibe AO
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=namibe
------------------------
Proceesing: City #  119  |  Kodiak US
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=kodiak

In [7]:
clean_cities_df

,City,Country,Temperature (F),Latitude,Longitude,Humidity (%),Cloudiness (%),Wind Speed (mph)
0,Mathura,IN,67.16,27.5,77.68,61,0,10.67
1,Albany,US,34.36,42.65,-73.76,51,40,19.46
2,Opuwo,NA,89.89,-18.06,13.84,16,0,3.74
3,Beloha,MG,71.66,-25.17,45.05,83,88,14.92
4,Aura,FI,39.2,60.62,22.58,82,0,11.41
5,Liwale,TZ,91.78,-9.77,37.93,30,0,6.76
6,Busselton,AU,63.02,-33.65,115.33,100,12,2.28
7,Jawa,JO,69.8,31.85,35.94,22,0,11.41
8,Butaritari,KI,82.55,3.07,172.79,100,68,7.31
9,Hilo,US,50.2,19.73,-155.09,77,1,8.05
10,Zhaozhou,CN,7.22,45.68,125.32,93,24,12.57
11,Cherskiy,RU,-6.46,68.75,161.3,44,0,2.28
12,Saint-Philippe,RE,76.87,-21.36,55.77,78,56,5.82
13,Hobart,AU,60.8,-42.88,147.33,82,32,8.05
14,Manaure,CO,84.2,11.78,-72.44,79,75,12.75
16,Tuktoyaktuk,CA,-14.81,69.45,-133.04,75,20,2.24
17,Rikitea,PF,71.89,-23.12,-134.97,100,92,10.89
18,Bontang,ID,82.73,0.13,117.5,99,32,6.76
20,Ushuaia,AR,46.4,-54.8,-68.3,45,40,28.86
21,Ahipara,NZ,59.06,-35.17,173.17,88,64,18.28
22,Cidreira,BR,72.83,-30.18,-50.21,94,8,6.87
23,Cape Town,ZA,71.6,-33.93,18.42,33,0,14.99
24,Horta (Angústias),PT,66.2,38.53,-28.64,82,75,6.93
28,Hithadhoo,MV,81.83,-0.6,73.08,100,88,10.67
29,Boyolangu,ID,78.28,-8.12,111.89,100,88,3.06
30,Victoria,CA,40.12,48.43,-123.37,87,75,8.05
31,Ambovombe,MG,72.38,-25.17,46.08,100,92,17.38
32,Broome,AU,82.4,-17.97,122.23,74,0,9.17
33,Hermanus,ZA,75.49,-34.42,19.23,32,0,4.63
35,Jamestown,US,31.42,42.1,-79.24,80,75,4.7
...,...,...,...,...,...,...,...,...
114,Nouakchott,MR,80.03,18.09,-15.98,84,92,4.18
115,Avarua,CK,75.2,-21.21,-159.78,88,40,12.75
116,Sitka,US,32.27,57.05,-135.33,69,90,18.34
117,Mahebourg,MU,78.8,-20.41,57.7,83,75,8.05
119,Acarau,BR,89.57,-2.89,-40.12,53,48,17.49
120,Hukuntsi,BW,78.46,-24,21.75,11,0,4.63
121,Atherton,GB,45.66,53.52,-2.49,75,90,5.82
122,Plouzane,FR,52.5,48.38,-4.62,81,75,3.36
123,Tasiilaq,GL,19.4,65.61,-37.64,52,20,11.41
124,Yakeshi,CN,-6.64,49.28,120.73,69,12,7.65
125,Luanda,AO,80.6,-8.84,13.23,65,0,9.17
126,Muros,ES,60.8,42.78,-9.06,72,0,4.7
128,Launceston,AU,59,-41.45,147.17,82,68,5.82
129,Sulangan,PH,83.27,11.14,123.72,100,76,15.59
131,Volnovakha,UA,33.46,47.6,37.5,84,12,7.43
132,Sola,VU,79.94,-13.88,167.55,100,76,10.22
133,Torbay,CA,36.77,47.67,-52.73,80,75,9.17
134,Chernyshevskiy,RU,-14.2,63.01,112.47,100,32,6.64
135,Sibolga,ID,69.23,1.74,98.78,100,80,0.6
137,Rawson,AR,53.08,-43.3,-65.1,82,36,35.16
138,Qaanaaq,GL,-4.48,77.48,-69.36,100,56,9.1
139,Esperance,AU,67.66,-33.87,121.9,86,44,5.41
140,Shimoda,JP,58.52,34.67,138.95,100,88,10.22
141,Lagoa,PT,67.34,39.05,-27.98,99,92,16.49
142,Khash,IR,46.06,28.22,61.22,30,0,5.86
143,Kenai,US,21.2,60.55,-151.26,100,90,8.05
146,Kologriv,RU,30.94,58.83,44.32,91,92,7.31
147,Bongouanou,CI,87.95,6.65,-4.2,61,80,4.74
148,Namibe,AO,72.43,-15.2,12.15,100,0,8.43
149,Kodiak,US,39.2,57.79,-152.41,51,1,25.28

In [8]:
#del cities_df['index']
clean_cities_df = clean_cities_df.reset_index()
del clean_cities_df['index']
clean_cities_df.head()

,City,Country,Temperature (F),Latitude,Longitude,Humidity (%),Cloudiness (%),Wind Speed (mph)
0,Mathura,IN,67.16,27.5,77.68,61,0,10.67
1,Albany,US,34.36,42.65,-73.76,51,40,19.46
2,Opuwo,NA,89.89,-18.06,13.84,16,0,3.74
3,Beloha,MG,71.66,-25.17,45.05,83,88,14.92
4,Aura,FI,39.2,60.62,22.58,82,0,11.41

In [9]:
# Save data to a CSV file
clean_cities_df.to_csv("City_Data.csv")