In [2]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from citipy import citipy
from random import uniform
from config import api_key

In [3]:
# Create a df to lat, lon 
column_names = ["City", "Country"]
cities_df = pd.DataFrame(columns=column_names)
cities_df

Empty DataFrame
Columns: [City, Country]
Index: []

## Generate Cites List from Lats and Longs

In [4]:
# Radomly generate a list of 1500 cities. Use 10 to test. 
for x in range(10):
    lat, lng = np.random.uniform(low=-90.000, high=90.000), np.random.uniform(low=-180.000, high=180.000)
    city = citipy.nearest_city(lat, lng)
    cities_df = cities_df.append({"City": city.city_name,"Country": city.country_code,}, ignore_index=True)
cities_df

           City Country
0       qaanaaq      gl
1        torbay      ca
2     shchelkun      ru
3        mutoko      zw
4   yellowknife      ca
5  attawapiskat      ca
6    wageningen      sr
7     busselton      au
8    piranshahr      ir
9          tura      ru

## Perform API Calls

In [5]:
cities_df["Temperature (F)"] = ""
cities_df["Latitude"] = ""
cities_df["Longitude"] = ""
cities_df["Humidity (%)"] = ""
cities_df["Cloudiness (%)"] = ""
cities_df["Wind Speed (mph)"] = ""
cities_df.head()

,City,Country,Temperature (F),Latitude,Longitude,Humidity (%),Cloudiness (%),Wind Speed (mph)
0,qaanaaq,gl,,,,,,
1,torbay,ca,,,,,,
2,shchelkun,ru,,,,,,
3,mutoko,zw,,,,,,
4,yellowknife,ca,,,,,,

In [6]:
# Loop through the list of cities in the df and get location and weather.
url = "http://api.openweathermap.org/data/2.5/weather?"

row_count = 0

print("Beginning Data Retrieval")
for index, row in cities_df.iterrows():
    target_city = row["City"]
    target_url = url + "appid=" + api_key + "&units=IMPERIAL" + "&q=" + target_city.replace(" ","")
    city_data = requests.get(target_url).json()
    if city_data["cod"] == "404":
        row_count += 1
    else:
        cities_df.set_value(index, "Temperature (F)", city_data["main"]["temp"])
        cities_df.set_value(index, "Latitude", city_data["coord"]["lat"])
        cities_df.set_value(index, "Longitude", city_data["coord"]["lon"])
        cities_df.set_value(index, "Humidity (%)", city_data["main"]["humidity"])
        cities_df.set_value(index, "Cloudiness (%)", city_data["clouds"]["all"])
        cities_df.set_value(index, "Wind Speed (mph)", city_data["wind"]["speed"])
        row_count += 1
        
        print("------------------------")
        print("Proceesing Record : " , row_count, ' | ' , city_data["name"])
        print(target_url)
    #else:
     #   False
        
        
    
    


    
 #   response = requests.get(target_url).json()
  #  city_data.append(response)

Beginning Data Retrieval
------------------------
Proceesing Record :  1  |  Qaanaaq
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=qaanaaq
------------------------
Proceesing Record :  2  |  Torbay
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=torbay
------------------------
Proceesing Record :  3  |  Shchelkun
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=shchelkun
------------------------
Proceesing Record :  4  |  Mutoko
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=mutoko
------------------------
Proceesing Record :  5  |  Yellowknife
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=yellowknife
------------------------
Proceesing Record :  6  |  Kashechewan
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=attawapiskat
------------------------
Proceesing Record :  7  |  Wageningen
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=wageningen
------------------------
Proceesing Record :  8  |  Busselton
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=busselton
------------------------
Proceesing Record :  9  |  Piranshahr
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=piranshahr
------------------------
Proceesing Record :  10  |  Tura
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=tura

In [7]:
cities_df

,City,Country,Temperature (F),Latitude,Longitude,Humidity (%),Cloudiness (%),Wind Speed (mph)
0,qaanaaq,gl,-11.42,77.48,-69.36,100,0,8.63
1,torbay,ca,37.47,47.67,-52.73,69,40,26.4
2,shchelkun,ru,30.2,56.3,60.95,92,90,6.71
3,mutoko,zw,67.7,-17.4,32.23,97,56,3.49
4,yellowknife,ca,6.8,62.46,-114.35,77,90,12.75
5,attawapiskat,ca,26.93,52.3,-81.62,77,76,17.47
6,wageningen,sr,48.58,51.97,5.67,100,90,6.93
7,busselton,au,67.43,-33.65,115.33,97,88,19.48
8,piranshahr,ir,31.56,36.7,45.14,71,0,1.81
9,tura,ru,68.15,25.52,90.22,72,92,5.06

In [8]:
# Save data to a CSV file
cities_df.to_csv("City_Data.csv")