## WeatherPy 
### Generate 500+ random latitudes and longitudes and use Weathermap.org and API keys to retrieve and graph weather day showing various relationships.

In [12]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from citipy import citipy
from random import uniform
from config import api_key

In [25]:
# Create a df to lat, lon 
column_names = ["City", "Country"]
cities_df = pd.DataFrame(columns=column_names)
cities_df

Empty DataFrame
Columns: [City, Country]
Index: []

## Generate Cites List from Lats and Longs

In [26]:
# Randomly generate a list of 1500 cities. Use 50 to test for duplicates.
for x in range(50):
    lat, lng = np.random.uniform(low=-90.000, high=90.000), np.random.uniform(low=-180.000, high=180.000)
    city = citipy.nearest_city(lat, lng)
    cities_df = cities_df.append({"City": city.city_name,"Country": city.country_code,}, ignore_index=True)
cities_df.head()

          City Country
0      jiamusi      cn
1      yashkul      ru
2   nanortalik      gl
3  san ignacio      bo
4  port alfred      za

In [27]:
#Remove duplicate cities
cities_df = cities_df.drop_duplicates(subset='City').reset_index()
cities_df.count()

index      42
City       42
Country    42
dtype: int64

## Perform API Calls

In [28]:
#Create a df to add all the data from the API calls.
column_names = ["City", "Country","Temperature (F)",
                "Latitude","Longitude","Humidity (%)",
                "Cloudiness (%)", "Wind Speed (mph)"]
clean_cities_df = pd.DataFrame(columns=column_names)
clean_cities_df.head()

Empty DataFrame
Columns: [City, Country, Temperature (F), Latitude, Longitude, Humidity (%), Cloudiness (%), Wind Speed (mph)]
Index: []

In [29]:
# Loop through the list of cities and add the data to the df.
url = "http://api.openweathermap.org/data/2.5/weather?"

row_count = 1

print("Beginning Data Retrieval")
for index, row in cities_df.iterrows():
    target_city = row["City"]
    target_url = url + "appid=" + api_key + "&units=IMPERIAL" + "&q=" + target_city.replace(" ","")
    city_data = requests.get(target_url).json()
    if city_data["cod"] == "404":
        print("Proceesing: City # " , row_count, ' | '
              ,cities_df["City"][row_count-1], cities_df["Country"][row_count-1]," not found.")
        row_count += 1

    else:
        clean_cities_df.set_value(index, "City", city_data["name"])
        clean_cities_df.set_value(index, "Country", city_data["sys"]["country"])
        clean_cities_df.set_value(index, "Temperature (F)", city_data["main"]["temp"])
        clean_cities_df.set_value(index, "Latitude", city_data["coord"]["lat"])
        clean_cities_df.set_value(index, "Longitude", city_data["coord"]["lon"])
        clean_cities_df.set_value(index, "Humidity (%)", city_data["main"]["humidity"])
        clean_cities_df.set_value(index, "Cloudiness (%)", city_data["clouds"]["all"])
        clean_cities_df.set_value(index, "Wind Speed (mph)", city_data["wind"]["speed"])
        
        print("------------------------")
        print("Proceesing: City # " , row_count, ' | ' , city_data["name"], city_data["sys"]["country"])
        print(target_url)
        row_count += 1

Beginning Data Retrieval
------------------------
Proceesing: City #  1  |  Jiamusi CN
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=jiamusi
------------------------
Proceesing: City #  2  |  Yashkul RU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=yashkul
------------------------
Proceesing: City #  3  |  Nanortalik GL
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=nanortalik
Proceesing: City #  4  |  san ignacio bo  not found.
Proceesing: City #  5  |  port alfred za  not found.
Proceesing: City #  6  |  hervey bay au  not found.
------------------------
Proceesing: City #  7  |  Atuona PF
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=atuona
------------------------
Proceesing: City #  8  |  Noumea NC
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=noumea
------------------------
Proceesing: City #  9  |  Kaeo NZ
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=kaeo
------------------------
Proceesing: City #  10  |  Belgrade RS
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=belgrade
Proceesing: City #  11  |  bambous virieux mu  not found.
------------------------
Proceesing: City #  12  |  Busselton AU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=busselton
------------------------
Proceesing: City #  13  |  Yenagoa NG
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=yenagoa
Proceesing: City #  14  |  vila franca do campo pt  not found.
------------------------
Proceesing: City #  15  |  Rikitea PF
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=rikitea
------------------------
Proceesing: City #  16  |  Jamestown US
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=jamestown
------------------------
Proceesing: City #  17  |  Yasnyy RU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=yasnyy
------------------------
Proceesing: City #  18  |  Jumla NP
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=jumla
Proceesing: City #  19  |  rio gallegos ar  not found.
Proceesing: City #  20  |  belushya guba ru  not found.
------------------------
Proceesing: City #  21  |  Tasiilaq GL
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=tasiilaq
------------------------
Proceesing: City #  22  |  Provideniya RU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=provideniya
------------------------
Proceesing: City #  23  |  Tuktoyaktuk CA
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=tuktoyaktuk
------------------------
Proceesing: City #  24  |  Shimoda JP
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=shimoda
------------------------
Proceesing: City #  25  |  Hermanus ZA
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=hermanus
------------------------
Proceesing: City #  26  |  Mathura IN
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=mataura
Proceesing: City #  27  |  chagda ru  not found.
------------------------
Proceesing: City #  28  |  Kodiak US
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=kodiak
------------------------
Proceesing: City #  29  |  Balclutha NZ
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=kaitangata
------------------------
Proceesing: City #  30  |  Palu ID
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=palu
------------------------
Proceesing: City #  31  |  Jinhua CN
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=samusu
Proceesing: City #  32  |  quatre cocos mu  not found.
Proceesing: City #  33  |  ambulu id  not found.
Proceesing: City #  34  |  silyanah tn  not found.
------------------------
Proceesing: City #  35  |  Amparihy MG
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=taolanaro
Proceesing: City #  36  |  punta arenas cl  not found.
------------------------
Proceesing: City #  37  |  Kamina CD
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=kamina
------------------------
Proceesing: City #  38  |  Bratsk RU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=bratsk
------------------------
Proceesing: City #  39  |  Butaritari KI
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=butaritari
------------------------
Proceesing: City #  40  |  Mudgee AU
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=mudgee
------------------------
Proceesing: City #  41  |  Ushuaia AR
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=ushuaia
------------------------
Proceesing: City #  42  |  Vaini TO
http://api.openweathermap.org/data/2.5/weather?appid=72507afc9de717437b6555b2efaba1b1&units=IMPERIAL&q=vaini

In [30]:
clean_cities_df

,City,Country,Temperature (F),Latitude,Longitude,Humidity (%),Cloudiness (%),Wind Speed (mph)
0,Jiamusi,CN,-6.33,46.83,130.35,73,56,2.95
1,Yashkul,RU,31.97,46.17,45.34,85,0,2.95
2,Nanortalik,GL,23.87,60.14,-45.24,100,36,7.2
6,Atuona,PF,78.59,-9.8,-139.03,100,88,18.28
7,Noumea,NC,66.2,-22.28,166.46,82,75,9.33
8,Kaeo,NZ,58.48,-35.1,173.78,85,92,17.83
9,Belgrade,RS,48.2,44.8,20.47,81,75,5.82
11,Busselton,AU,63.02,-33.65,115.33,100,12,2.28
12,Yenagoa,NG,86.29,4.92,6.26,69,20,10.56
14,Rikitea,PF,71.89,-23.12,-134.97,100,92,10.89
15,Jamestown,US,30.88,42.1,-79.24,86,90,5.82
16,Yasnyy,RU,29.81,51.03,59.87,94,80,8.88
17,Jumla,NP,23.69,29.27,82.18,100,0,1.95
20,Tasiilaq,GL,19.4,65.61,-37.64,52,20,10.29
21,Provideniya,RU,29.86,64.38,-173.3,100,32,17.49
22,Tuktoyaktuk,CA,-16.61,69.45,-133.04,75,20,2.24
23,Shimoda,JP,58.52,34.67,138.95,100,88,10.22
24,Hermanus,ZA,75.49,-34.42,19.23,32,0,4.63
25,Mathura,IN,67.16,27.5,77.68,61,0,10.67
27,Kodiak,US,42.8,57.79,-152.41,56,1,31.09
28,Balclutha,NZ,40.61,-46.23,169.75,84,0,6.53
29,Palu,ID,80.26,-0.89,119.87,94,44,3.18
30,Jinhua,CN,8.08,41.43,128.03,66,56,5.86
34,Amparihy,MG,73.4,-25.02,46.97,94,75,6.93
36,Kamina,CD,83.09,-8.74,24.99,66,48,5.19
37,Bratsk,RU,8.6,56.13,101.61,84,75,2.24
38,Butaritari,KI,82.55,3.07,172.79,100,68,7.31
39,Mudgee,AU,60.19,-32.59,149.59,98,92,12.8
40,Ushuaia,AR,46.4,-54.8,-68.3,45,75,32.21
41,Vaini,TO,73.4,-21.2,-175.2,94,90,10.78

In [32]:
# Save data to a CSV file
clean_cities_df.to_csv("City_Data.csv")